# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.env

# productiongit remote add origin https://github.com/aparnadevi1/netflix.git
